{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<table>
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Единица измерения</th>
        <th>Дата поступления</th>
        <th>Поставщик</th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>{{ object.title }}</td>
            <td>{{ object.price }}</td>
            <td>{{ object.unit }}</td>
            <td>{{ object.created_at }}</td>
            <td>{{ object.vendor }}</td>
        </tr>
    {% endfor %}
</table>
